<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciando Vuejs - Projeto 1</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="variavel">{{ variavel }}
        <input type="text" v-model="variavel2">{{ variavel2 }}
        <p>
            {{parseInt(variavel) + parseInt(variavel2)}}
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                variavel: 5,
                variavel2: 10
            }
        })
    </script>
</body>
</html>
